<div class="modal-dialog">
  <div class="modal-content">

  <%= form_with(model: @list, local: true) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :purchased, :value => false %>
  <div class="modal-header">
    <h5 class="modal-title">New Wish List</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group field">
      <%= f.label :name, "品名", class: "form-control-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :price, "金額", class: "form-control-label" %>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :date, "購入希望日", class: "form-control-label" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>


  </div>

  <div class="modal-footer actions">
    <%= f.submit '作成', class: "btn btn-primary" %>
  </div>
  <% end %>
  </div>
</div>
