<div class="container-fluid">
  <div class="row">
    <div class="budget_plan-sidebar col-sm-2">
      <h3><i class="fas fa-shopping-cart"></i> Wishリスト</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= link_to new_list_path, class: "btn btn-block btn-primary", data: { "turbolinks": false } do %>
      <i class="fas fa-plus"></i> 作成
      <% end %>
      <nav class="nav d-flex flex-column mt-2">
        <%= link_to books_mypage_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-chart-bar"></i> 収支管理
        <% end %>
        <%= link_to books_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calculator"></i> 家計簿
        <% end %>
        <%= link_to budget_plans_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-file-alt"></i> 収支計画
        <% end %>
        <%= link_to lists_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-shopping-cart"></i> Wishリスト
        <% end %>
      </nav>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 py-3">
          <div class="list-card card">
            <div class="card-header bg-danger">未購入のWishリスト</div>
            <div class="card-body">
              <div class="list-group">
                <% @lists.each do |list| %>
                  <% if list.purchased == false %>
                    <%= link_to list_path(list), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <label class="mb-1"><%= list.name %></label>
                      <small>購入希望期限：<%= list.date %></small>
                    </div>
                    <p class="mb-1">金額：<%= list.price %></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 py-3">
          <div class="list-card card">
            <div class="card-header bg-info">購入済のWishリスト</div>
            <div class="card-body">
              <div class="list-group">
                <% @lists.each do |list| %>
                  <% if list.purchased == true %>
                    <%= link_to list_path(list), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <label class="mb-1"><%= list.name %></label>
                      <small>購入希望期限：<%= list.date %></small>
                    </div>
                    <p class="mb-1">金額：<%= list.price %></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



