<h1>タスク詳細</h1>

<table>
  <tr>
    <th>Name</th>
    <td><%= @list.name %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= @list.date %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= @list.price %></td>
  </tr>
  <tr>
    <th>Purchased</th>
    <td><%= @list.purchased %></td>
  </tr>
</table>
<%= link_to "一覧へ", lists_path %>