<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :area %><br />
    <%= f.select :area, {北海道: "北海道", 東北: "東北", 関東: "関東", 中部: "中部", 近畿: "近畿", 中国: "中国", 四国: "四国", 九州: "九州"} %>
  </div>

  <div class="field">
    <%= f.label :job %><br />
    <%= f.select :job, {会社員: "会社員", 自営業（フリーランス含む）: "自営業（フリーランス含む）", 主婦・主夫: "主婦・主夫", 学生: "学生", フリーター: "フリーター", 無職: "無職", その他: "その他"} %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
