<div class="modal-dialog">
  <div class="modal-content">

  <%= form_with(model: @task, local: true) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="modal-header">
    <h5 class="modal-title">Edit Task</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group field">
      <%= f.label :title, class: "form-control-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :body, class: "form-control-label" %>
      <%= f.text_field :body, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :importance, class: "form-control-label" %>
      <%= f.select :importance, Task.importances.keys, {prompt: "選択してください"}, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :urgency, class: "form-control-label" %>
      <%= f.select :urgency, Task.urgencies.keys,{prompt: "選択してください"}, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :deadline, class: "form-control-label" %>
      <%= f.datetime_field :deadline, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :fin, class: "form-control-label" %>
      <%= f.check_box :fin %>
    </div>

  </div>

  <div class="modal-footer actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %>
  </div>
</div>
