<div class="container-fluid">
  <div class="row">
    <div class="task-sidebar col-sm-2">
      <h3><i class="fas fa-tasks"></i> Todoリスト</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= link_to new_task_path, class: "btn btn-block btn-primary" do %>
      <i class="fas fa-plus"></i> 作成
      <% end %>
      <nav class="nav d-flex flex-column mt-2">
        <%= link_to plans_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calendar-alt"></i> スケジュール
        <% end %>
        <%= link_to tasks_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-tasks"></i> Todoリスト
        <% end %>
      </nav>
      <div class="card mt-2">
        <div class="card-header">
          タスク達成率
        </div>
        <div class="card-body">
          <h4 class="text-center"><%= number_to_percentage(@task_per * 100) %></h4>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          達成済のTodoリスト
        </div>
        <div class="card-body p-2">
          <div class="list-group">
            <% @tasks.each do |task| %>
              <% if task.fin == true %>
                <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start p-1" do %>
                <div class="d-flex w-100 justify-content-between">
                  <small><%= task.title %></small>
                  <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-danger text-center">緊急 × 重要</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.urgency == "緊急" and task.importance == "重要" and task.fin == false %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <small class="mb-1"><%= task.body %></small>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-warning text-center">緊急でない × 重要</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.urgency == "緊急でない" and task.importance == "重要" and task.fin == false %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <small class="mb-1"><%= task.body %></small>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-info text-center">緊急 × 重要でない</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.urgency == "緊急" and task.importance == "重要でない" and task.fin == false %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <small class="mb-1"><%= task.body %></small>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-success text-center">緊急でない × 重要でない</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.urgency == "緊急でない" and task.importance == "重要でない" and task.fin == false %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <small class="mb-1"><%= task.body %></small>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





