<div class="container-fluid">
  <div class="row">
    <div class="task-sidebar col-sm-2">
      <h2 class="text-center">Todoリスト</h2>
      <h5 class="text-center"><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= link_to "新規登録", new_task_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-danger text-center">仕事（優先度：高）</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.genre == "仕事" and task.importance == "高い" %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <label class="mb-1"><%= task.title %></label>
                      <small>期限：<%= task.deadline %></small>
                    </div>
                    <p class="mb-1"><%= task.body %></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-info text-center">仕事（優先度：低）</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.genre == "仕事" and task.importance == "低い" %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                      <%= task.title %>
                      <%= task.body %>
                      <%= task.deadline %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-warning text-center">プライベート（優先度：高）</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.genre == "プライベート" and task.importance == "高い" %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                      <%= task.title %>
                      <%= task.body %>
                      <%= task.deadline %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="task-card card">
            <h6 class="card-header bg-success text-center">プライベート（優先度：低）</h6>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.genre == "プライベート" and task.importance == "低い" %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                      <%= task.title %>
                      <%= task.body %>
                      <%= task.deadline %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





