
<h1>タスク一覧</h1>
<%= link_to "新規登録", new_task_path, class: "btn btn-lg btn-primary" %>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-header bg-danger text-center">仕事（優先度：高）</h4>
        <div class="card-body">
          <div class="list-group">
            <% @tasks.each do |task| %>
              <% if task.genre == "仕事" and task.importance == "高い" %>
                <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                <div class="d-flex w-100 justify-content-between">
                  <label class="mb-1"><%= task.title %></label>
                  <small>期限：<%= task.deadline %></small>
                </div>
                <p class="mb-1"><%= task.body %></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-header bg-info text-center">仕事（優先度：低）</h4>
        <div class="card-body">
          <div class="list-group">
            <% @tasks.each do |task| %>
              <% if task.genre == "仕事" and task.importance == "低い" %>
                <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                  <%= task.title %>
                  <%= task.body %>
                  <%= task.deadline %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-header bg-warning text-center">プライベート（優先度：高）</h4>
        <div class="card-body">
          <div class="list-group">
            <% @tasks.each do |task| %>
              <% if task.genre == "プライベート" and task.importance == "高い" %>
                <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                  <%= task.title %>
                  <%= task.body %>
                  <%= task.deadline %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h4 class="card-header bg-success text-center">プライベート（優先度：低）</h4>
        <div class="card-body">
          <div class="list-group">
            <% @tasks.each do |task| %>
              <% if task.genre == "プライベート" and task.importance == "低い" %>
                <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                  <%= task.title %>
                  <%= task.body %>
                  <%= task.deadline %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





