<h1>新規登録</h1>
<%= form_with model: @task, local: true do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :body %>
  <%= f.text_field :body %>
</div>
<div class="field">
  <%= f.label :importance %>
  <%= f.select :importance, Task.importances.keys, {prompt: "選択してください"}, class: "form-control" %>
</div>
<div class="field">
  <%= f.label :genre %>
  <%= f.select :genre, Task.genres.keys,{prompt: "選択してください"}, class: "form-control" %>
</div>
<div class="field">
  <%= f.label :deadline %>
  <%= f.datetime_field :deadline %>
</div>
<div class="field">
  <%= f.label :fin %>
  <%= f.check_box :fin %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>