<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 my-4">
      <div class="card border-success">
        <div class="card-header bg-success text-white">
          ログイン
        </div>
        <div class="card-body">
          <%= form_with model: @user, url: user_session_path, local: true do |f| %>
            <div class="form-group field">
              <%= f.label :email, "メールアドレス", class: "form-control-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
      	    </div>
      	    <div class="form-group field">
      	      <%= f.label :password, "パスワード", class: "form-control-label" %>
              <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "form-control" %>
      	    </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="action">
              <%= f.submit 'ログイン', class: "btn btn-success btn-block" %>
      	    </div>
          <% end %>
        </div>
      </div>
      <div class="card mt-4 border-primary">
        <div class="card-header bg-primary text-white">
          会員登録がお済みでない方
        </div>
        <div class="card-body">
          <%= link_to "こちら", new_user_registration_path %> から会員登録してください。
        </div>
      </div>
    </div>
  </div>
</div>
