<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Budget Plan show</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="list-group">
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <label>メインカテゴリ</label>
            <label><%= @budget_plan.main_category.name %></label>
          </div>
        </div>
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <label>サブカテゴリ</label>
            <label><%= @budget_plan.sub_category.name %></label>
          </div>
        </div>
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <label>金額</label>
            <label>¥<%= @budget_plan.amount %></label>
          </div>
        </div>
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <label>計画年月</label>
            <label><%= @budget_plan.date.strftime("%Y年%m月") %></label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer actions">
      <%= link_to edit_budget_plan_path(@budget_plan), remote: true do %>
      <button type="button" class="btn btn-success">編集</button>
      <% end %>
      <div id="editbudgetplan-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <%= link_to budget_plan_path(@budget_plan), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button type="button" class="btn btn-danger">削除</button>
      <% end %>
    </div>
  </div>
</div>
