<div class="container-fluid">
  <div class="row">
    <div class="budget_plan-sidebar col-sm-2">
      <h3><i class="fas fa-file-alt"></i> 収支計画</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= link_to new_budget_plan_path, class: "btn btn-block btn-primary", data: { "turbolinks": false } do %>
      <i class="fas fa-plus"></i> 作成
      <% end %>
      <nav class="nav d-flex flex-column mt-2">
        <%= link_to books_mypage_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-chart-bar"></i> 収支管理
        <% end %>
        <%= link_to books_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calculator"></i> 家計簿
        <% end %>
        <%= link_to budget_plans_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-file-alt"></i> 収支計画
        <% end %>
        <%= link_to lists_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-shopping-cart"></i> Wishリスト
        <% end %>
      </nav>
      <div class="card mt-2">
        <div class="card-header">
          <h6 class="text-center"><%= Time.current.beginning_of_day.since(params[:month].to_i.months).strftime('%Y年%m月') %></h6>
          <h6 class="text-center">収支計画内訳</h6>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <tr class="small">
              <th>収入</th>
              <td>¥<%= @incomes_total_amount %></td>
            </tr>
            <tr class="small">
              <th>固定費</th>
              <td>¥<%= @fixed_total_amount %></td>
            </tr>
            <tr class="small">
              <th>変動費</th>
              <td>¥<%= @variable_total_amount %></td>
            </tr>
            <tr class="small">
              <th>貯蓄・投資</th>
              <td>¥<%= @investment_total_amount %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <div class="p-2"><%= link_to "前月", budget_plans_path(month: params[:month].to_i - 1), data: { "turbolinks": false } %></div>
          <div class="p-2"><h3><%= Time.current.beginning_of_month.since(params[:month].to_i.months).strftime('%Y年%m月') %></h3></div>
          <div class="p-2"><%= link_to "翌月", budget_plans_path(month: params[:month].to_i + 1), data: { "turbolinks": false } %></div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              固定費
            </div>
            <div class="card-body">
              <%= pie_chart @fixed.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "25vh" %>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>カテゴリー</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @budget_plans.each do |bp| %>
                  <% if bp.main_category_id == 2 %>
                  <tr>
                    <td><%= bp.sub_category.name %></td>
                    <td><%= bp.amount %></td>
                    <td><%= link_to 'Show', budget_plan_path(bp) %></td>
                    <td><%= link_to 'Edit', edit_budget_plan_path(bp) %></td>
                    <td><%= link_to 'Destroy', budget_plan_path(bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              変動費
            </div>
            <div class="card-body">
              <%= pie_chart @variable.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "25vh" %>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>カテゴリー</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @budget_plans.each do |bp| %>
                  <% if bp.main_category_id == 3 %>
                  <tr>
                    <td><%= bp.sub_category.name %></td>
                    <td><%= bp.amount %></td>
                    <td><%= link_to 'Show', budget_plan_path(bp) %></td>
                    <td><%= link_to 'Edit', edit_budget_plan_path(bp) %></td>
                    <td><%= link_to 'Destroy', budget_plan_path(bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              貯蓄・投資
            </div>
            <div class="card-body">
              <%= pie_chart @investment.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "25vh" %>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>カテゴリー</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @budget_plans.each do |bp| %>
                  <% if bp.main_category_id == 4 %>
                  <tr>
                    <td><%= bp.sub_category.name %></td>
                    <td><%= bp.amount %></td>
                    <td><%= link_to 'Show', budget_plan_path(bp) %></td>
                    <td><%= link_to 'Edit', edit_budget_plan_path(bp) %></td>
                    <td><%= link_to 'Destroy', budget_plan_path(bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


