<div class="container-fluid">
  <div class="row">
    <div class="budget_plan-sidebar col-sm-2">
      <h2 class="text-center">収支計画一覧</h2>
      <h5 class="text-center"><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center p-2">
          <%= link_to "新規登録", new_budget_plan_path, class: "btn btn-primary", data: { "turbolinks": false } %>
        </div>
        <div class="d-flex justify-content-center p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
      </div>


          <nav class="nav flex-column">
            <a class="nav-link active" href="#!">Active</a>
            <a class="nav-link" href="#!">Link</a>
            <a class="nav-link" href="#!">Link</a>
          </nav>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <div class="p-2"><%= link_to "前月", budget_plans_path(month: params[:month].to_i - 1), data: { "turbolinks": false } %></div>
          <div class="p-2"><h3><%= Time.current.beginning_of_month.since(params[:month].to_i.months).strftime('%Y年%m月') %></h3></div>
          <div class="p-2"><%= link_to "翌月", budget_plans_path(month: params[:month].to_i + 1), data: { "turbolinks": false } %></div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              固定費
            </div>
            <div class="card-body">
              <%= pie_chart @fixed.joins(:sub_category).group("sub_categories.name").sum(:amount) %>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>カテゴリー</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @budget_plans.each do |bp| %>
                  <% if bp.main_category_id == 2 %>
                  <tr>
                    <td><%= bp.sub_category.name %></td>
                    <td><%= bp.amount %></td>
                    <td><%= link_to 'Show', budget_plan_path(bp) %></td>
                    <td><%= link_to 'Edit', edit_budget_plan_path(bp) %></td>
                    <td><%= link_to 'Destroy', budget_plan_path(bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              変動費
            </div>
            <div class="card-body">
              <%= pie_chart @variable.joins(:sub_category).group("sub_categories.name").sum(:amount) %>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>カテゴリー</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @budget_plans.each do |bp| %>
                  <% if bp.main_category_id == 3 %>
                  <tr>
                    <td><%= bp.sub_category.name %></td>
                    <td><%= bp.amount %></td>
                    <td><%= link_to 'Show', budget_plan_path(bp) %></td>
                    <td><%= link_to 'Edit', edit_budget_plan_path(bp) %></td>
                    <td><%= link_to 'Destroy', budget_plan_path(bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              貯蓄・投資
            </div>
            <div class="card-body">
              <%= pie_chart @investment.joins(:sub_category).group("sub_categories.name").sum(:amount) %>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>カテゴリー</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @budget_plans.each do |bp| %>
                  <% if bp.main_category_id == 4 %>
                  <tr>
                    <td><%= bp.sub_category.name %></td>
                    <td><%= bp.amount %></td>
                    <td><%= link_to 'Show', budget_plan_path(bp) %></td>
                    <td><%= link_to 'Edit', edit_budget_plan_path(bp) %></td>
                    <td><%= link_to 'Destroy', budget_plan_path(bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


