<div class="container-fluid">
  <div class="row">
    <div class="mypage-sidebar col-sm-2">
      <h2 class="text-center">My Page</h2>
      <h5 class="text-center"><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= attachment_image_tag @user, :image, class: "d-block mx-auto rounded w-50" %>
      <p><%= link_to "My Menuへ", users_mymenu_path %></p>
      <nav class="nav d-flex flex-column">
        <a class="nav-link d-flex justify-content-center border-top p-2">Active</a>
        <a class="nav-link d-flex justify-content-center border-top p-2" href="#!">Link</a>
        <a class="nav-link d-flex justify-content-center border-top p-2" href="#!">Link</a>
      </nav>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">
              <%= Time.current.beginning_of_week.strftime('%m月%d日') %>〜<%= Time.current.end_of_week.strftime('%m月%d日') %>の予定
            </div>
            <div class="card-body">
              <div class="list-group">
                <% @plans.each do |plan| %>
                <div class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <label class="mb-1"><%= plan.title %></label>
                    <small><%= plan.start_date.strftime("%m/%d %H:%M") %>~<%= plan.end_date.strftime("%m/%d %H:%M") %></small>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "スケジュール", plans_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">優先度の高いTodoリスト</div>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.importance == "高い" %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <label class="mb-1"><%= task.title %></label>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "Todoリスト", tasks_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">今月の収支計画</div>
            <div class="card-body">
              <table class="table table-sm">
                <tr>
                  <th>固定費</th>
                  <td><%= @fixed_plans_total_amount %></td>
                </tr>
                <tr>
                  <th>変動費</th>
                  <td><%= @variable_plans_total_amount %></td>
                </tr>
                <tr>
                  <th>貯蓄・投資</th>
                  <td><%= @investment_plans_total_amount %></td>
                </tr>
                <tr class="table-info">
                  <th>合計</th>
                  <td><%= @fixed_plans_total_amount + @variable_plans_total_amount + @investment_plans_total_amount %></td>
                </tr>
              </table>
            </div>
            <div class="card-footer">
              <%= link_to "収支計画ページ", budget_plans_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">今月の収支</div>
            <div class="card-body">
              <table class="table table-sm">
                <tr>
                  <th>収入</th>
                  <td><%= @incomes_total_amount %></td>
                </tr>
                <tr>
                  <th>固定費</th>
                  <td><%= @fixed_total_amount %></td>
                </tr>
                <tr>
                  <th>変動費</th>
                  <td><%= @variable_total_amount %></td>
                </tr>
                <tr>
                  <th>貯蓄・投資</th>
                  <td><%= @investment_total_amount %></td>
                </tr>
                <tr class="table-info">
                  <th>収支合計</th>
                  <td><%= @incomes_total_amount - @fixed_total_amount - @variable_total_amount - @investment_total_amount %></td>
                </tr>
              </table>
            </div>
            <div class="card-footer">
              <%= link_to "家計簿ページ", books_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>