<div class="container-fluid">
  <div class="row">
    <div class="mypage-sidebar col-sm-2 mt-2">
      <h3><i class="far fa-user-circle"></i> My Page</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>

      <nav class="nav d-flex flex-column">
        <%= link_to users_mypage_path, class: "side-menu1 nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-user-circle"></i> My Page
        <% end %>
        <%= link_to users_show_path, class: "side-menu1 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-id-card"></i> ユーザー詳細
        <% end %>
        <%= link_to plans_path, class: "side-menu2 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calendar-alt"></i> スケジュール
        <% end %>
        <%= link_to tasks_path, class: "side-menu2 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-tasks"></i> Todoリスト
        <% end %>
        <%= link_to books_mypage_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-chart-bar"></i> 収支管理
        <% end %>
        <%= link_to books_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calculator"></i> 家計簿
        <% end %>
        <%= link_to budget_plans_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-file-alt"></i> 収支計画
        <% end %>
        <%= link_to lists_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-shopping-cart"></i> Wishリスト
        <% end %>
      </nav>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 my-2">
          <div class="mypage-card1 card">
            <div class="mypage-card1-header card-header text-white">
              <%= Time.current.beginning_of_week.strftime('%m月%d日') %>(月)〜<%= Time.current.end_of_week.strftime('%m月%d日') %>(日)の予定
            </div>
            <div class="mypage-card-body card-body">
              <div class="list-group">
                <% @plans.each do |plan| %>
                <div class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <label class="mb-1"><%= plan.title %></label>
                    <small><%= plan.start_date.strftime("%m/%d %H:%M") %>〜<%= plan.end_date.strftime("%m/%d %H:%M") %></small>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "スケジュール", plans_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-2">
          <div class="mypage-card1 card">
            <div class="mypage-card1-header card-header text-white">未達成のTodoリスト</div>
            <div class="mypage-card-body card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.fin == false and task.urgency == "緊急" and task.importance == "重要" %>
                    <%= link_to task_path(task), class: "tasklist1 list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <% end %>
                  <% elsif task.fin == false and task.urgency == "緊急でない" and task.importance == "重要" %>
                    <%= link_to task_path(task), class: "tasklist2 list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <% end %>
                  <% elsif task.fin == false and task.urgency == "緊急でない" and task.importance == "重要でない" %>
                    <%= link_to task_path(task), class: "tasklist3 list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <% end %>
                  <% elsif task.fin == false and task.urgency == "緊急" and task.importance == "重要でない" %>
                    <%= link_to task_path(task), class: "tasklist4 list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <small class="mb-1"><%= task.title %></small>
                      <small>期限：<%= task.deadline.strftime("%m/%d %H:%M") %></small>
                    </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "Todoリスト", tasks_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-2">
          <div class="mypage-card2 card">
            <div class="mypage-card2-header card-header text-white">今月の収支計画</div>
            <div class="mypage-card-body card-body">
              <div class="card-group">
                <div class="card">
                  <div class="card-body p-0">
                    <%= bar_chart @not_incomes_plans.joins(:main_category).group("main_categories.name").sum(:amount), height: "21vh" %>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <table class="table table-sm table-borderless">
                      <tr>
                        <th>収入</th>
                        <td>¥<%= @incomes_plans_total_amount %></td>
                      </tr>
                      <tr>
                        <th>固定費</th>
                        <td>¥<%= @fixed_plans_total_amount %></td>
                      </tr>
                      <tr>
                        <th>変動費</th>
                        <td>¥<%= @variable_plans_total_amount %></td>
                      </tr>
                      <tr>
                        <th>貯蓄・投資</th>
                        <td>¥<%= @investment_plans_total_amount %></td>
                      </tr>

                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "収支計画ページ", budget_plans_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-2">
          <div class="mypage-card2 card">
            <div class="mypage-card2-header card-header text-white">今月の収支</div>
            <div class="mypage-card-body card-body">
              <div class="card-group">
                <div class="card">
                  <div class="card-body p-0">
                    <%= bar_chart @not_incomes.joins(:main_category).group("main_categories.name").sum(:amount), height: "21vh" %>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <table class="table table-sm table-borderless">
                      <tr>
                        <th>収入</th>
                        <td>¥<%= @incomes_total_amount %></td>
                      </tr>
                      <tr>
                        <th>固定費</th>
                        <td>¥<%= @fixed_total_amount %></td>
                      </tr>
                      <tr>
                        <th>変動費</th>
                        <td>¥<%= @variable_total_amount %></td>
                      </tr>
                      <tr>
                        <th>貯蓄・投資</th>
                        <td>¥<%= @investment_total_amount %></td>
                      </tr>

                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "家計簿ページ", books_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>