<div class="container-fluid">
  <div class="row">
    <div class="mypage-sidebar col-sm-2">
      <h2 class="text-center">My Page</h2>
      <h5 class="text-center"><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <p><%= link_to "My Menuへ", users_mymenu_path %></p>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">
              <%= Time.current.beginning_of_week.strftime('%m月%d日') %>〜<%= Time.current.end_of_week.strftime('%m月%d日') %>の予定
            </div>
            <div class="card-body">

              <% @plans.each do |plan| %>
              <%= plan.title %>
              <% end %>
            </div>
            <div class="card-footer">
              <%= link_to "スケジュール", plans_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">優先度の高いTodoリスト</div>
            <div class="card-body">
              <div class="list-group">
                <% @tasks.each do |task| %>
                  <% if task.importance == "高い" %>
                    <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                      <label class="mb-1"><%= task.title %></label>
                      <small>期限：<%= task.deadline %></small>
                    </div>
                    <p class="mb-1"><%= task.body %></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "Todoリスト", tasks_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">今月の予算</div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">固定費：<%= @fixed_plans_total_amount %></li>
                <li class="list-group-item">変動費：<%= @variable_plans_total_amount %></li>
                <li class="list-group-item">貯蓄・投資：<%= @investment_plans_total_amount %></li>
              </ul>
            </div>
            <div class="card-footer">
              <%= link_to "収支計画ページ", budget_plans_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="mypage-card card">
            <div class="card-header">今月の支出</div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">固定費：<%= @fixed_total_amount %></li>
                <li class="list-group-item">変動費：<%= @variable_total_amount %></li>
                <li class="list-group-item">貯蓄・投資：<%= @investment_total_amount %></li>
              </ul>
            </div>
            <div class="card-footer">
              <%= link_to "家計簿ページ", books_path, data: { "turbolinks": false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>