<h1>ユーザー情報</h1>
<div>
  <table>
    <tr>
      <th>ユーザー画像</th>
      <td><%= attachment_image_tag @item, :image %></td>
    </tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>地域</th>
      <td><%= @user.area %></td>
    </tr>
    <tr>
      <th>職業</th>
      <td><%= @user.job %></td>
    </tr>
  </table>
  <div>
    <p><%= link_to "編集する", users_edit_path(@user) %></p>
    <p><%= link_to "退会する", users_unsubscribe_path %></p>
  </div>
</div>
