<div class="container-fluid">
  <div class="row">
    <div class="mypage-sidebar col-sm-2 mt-2">
      <h3><i class="far fa-user-circle"></i> My Page</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <nav class="nav d-flex flex-column">
        <%= link_to users_mypage_path, class: "side-menu1 nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-user-circle"></i> My Page
        <% end %>
        <%= link_to users_show_path, class: "side-menu1 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-id-card"></i> ユーザー詳細
        <% end %>
        <%= link_to plans_path, class: "side-menu2 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calendar-alt"></i> スケジュール
        <% end %>
        <%= link_to tasks_path, class: "side-menu2 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-tasks"></i> Todoリスト
        <% end %>
        <%= link_to books_mypage_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-chart-bar"></i> 収支管理
        <% end %>
        <%= link_to books_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calculator"></i> 家計簿
        <% end %>
        <%= link_to budget_plans_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-file-alt"></i> 収支計画
        <% end %>
        <%= link_to lists_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-shopping-cart"></i> Wishリスト
        <% end %>
      </nav>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4 offset-sm-4 my-4">
          <div class="card">
            <div class="card-header text-center">
              退会確認画面
            </div>
            <div class="card-body">
              <h4 class="text-center text-danger"><strong>本当に退会しますか？</strong></h4>
              <p class="text-center">退会すると、会員登録情報や<br/>
              これまでのスケジュール・収支管理が閲覧できなくなります。<br/>
              退会する場合は、「退会する」をクリックしてください。
              </p>
              <%= link_to "退会しない", users_show_path, class: "btn btn-primary btn-block" %>
              <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-danger btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

