<h1>家計簿一覧</h1>
<%= link_to "新規登録", new_book_path, class: "btn btn-lg btn-primary" %>

<%= pie_chart @fixed.joins(:sub_category).group("sub_categories.name").sum(:amount) %>
<%= pie_chart @variable.joins(:sub_category).group("sub_categories.name").sum(:amount) %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>SubCategory</th>
      <th>Body</th>
      <th>amount</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.main_category.name %></td>
      <td><%= book.sub_category.name %></td>
      <td><%= book.introduction %></td>
      <td><%= book.amount %></td>
      <td><%= book.date %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>