<div class="container-fluid">
  <div class="row">
    <div class="book-sidebar col-sm-2 mt-2">
      <h3><i class="fas fa-calculator"></i> 家計簿</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <button class="btn btn-block btn-money-new" data-toggle="modal" data-target="#book-modal">
        <i class="fas fa-plus"></i> 作成
      </button>
      <div id="book-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <%= render partial: "form", locals: { book: @book }%>
      </div>
      <nav class="nav d-flex flex-column mt-2">
        <%= link_to books_mypage_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-chart-bar"></i> 収支管理
        <% end %>
        <%= link_to books_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calculator"></i> 家計簿
        <% end %>
        <%= link_to budget_plans_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-file-alt"></i> 収支計画
        <% end %>
        <%= link_to lists_path, class: "side-menu3 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-shopping-cart"></i> Wishリスト
        <% end %>
      </nav>
      <ul class="list-group mt-2">
        <li class="money-side-list-group-item list-group-item text-center">
          <%= Time.current.beginning_of_day.since(params[:month].to_i.months).strftime('%Y年%m月') %><br/>
          家計簿内訳
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          収入
          <span>¥<%= @incomes_total_amount %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          固定費
          <span>¥<%= @fixed_total_amount %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          変動費
          <span>¥<%= @variable_total_amount %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          貯蓄・投資
          <span>¥<%= @investment_total_amount %></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <div class="p-2">
            <%= link_to books_path(month: params[:month].to_i - 1), data: { "turbolinks": false } do %>
            <i class="fas fa-angle-left fa-2x"></i>
            <% end %>
          </div>
          <div class="p-2"><h3><%= Time.current.beginning_of_day.since(params[:month].to_i.months).strftime('%Y年%m月') %></h3></div>
          <div class="p-2">
            <%= link_to books_path(month: params[:month].to_i + 1), data: { "turbolinks": false } do %>
            <i class="fas fa-angle-right fa-2x"></i>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">
              固定費
            </div>
            <div class="card-body py-2">
              <%= pie_chart @fixed.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "30vh" %>
              <div class="book-card card mt-2 border-0">
                <div class="book-card-body card-body p-0">
                  <table class="table table-sm">
                    <thead>
                      <tr class="small">
                        <th>日付</th>
                        <th>カテゴリ</th>
                        <th>金額</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @books.each do |book| %>
                      <% if book.main_category_id == 2 %>
                      <tr class="small">
                        <td><%= book.date.strftime('%m/%d') %></td>
                        <td><%= book.sub_category.name %></td>
                        <td>¥<%= book.amount %></td>
                        <td>
                          <%= link_to book_path(book), remote: true do %>
                          <i class="fas fa-search-plus"></i>
                          <% end %>
                          <div id="book-show-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                        </td>
                      </tr>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card border-danger">
            <div class="card-header bg-danger text-white">
              変動費
            </div>
            <div class="card-body py-2">
              <%= pie_chart @variable.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "30vh" %>
              <div class="book-card card mt-2 border-0">
                <div class="book-card-body card-body p-0">
                  <table class="table table-sm">
                    <thead>
                      <tr class="small">
                        <th>日付</th>
                        <th>カテゴリ</th>
                        <th>金額</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @books.each do |book| %>
                      <% if book.main_category_id == 3 %>
                      <tr class="small">
                        <td><%= book.date.strftime('%m/%d') %></td>
                        <td><%= book.sub_category.name %></td>
                        <td>¥<%= book.amount %></td>
                        <td>
                          <%= link_to book_path(book), remote: true do %>
                          <i class="fas fa-search-plus"></i>
                          <% end %>
                          <div id="book-show-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                        </td>
                      </tr>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card border-info">
            <div class="card-header bg-info text-white">
              収入
            </div>
            <div class="card-body py-2">
              <%= pie_chart @incomes.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "30vh" %>
              <div class="book-card card mt-2 border-0">
                <div class="book-card-body card-body p-0">
                  <table class="table table-sm">
                    <thead>
                      <tr class="small">
                        <th>日付</th>
                        <th>カテゴリ</th>
                        <th>金額</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @books.each do |book| %>
                      <% if book.main_category_id == 1 %>
                      <tr class="small">
                        <td><%= book.date.strftime('%m/%d') %></td>
                        <td><%= book.sub_category.name %></td>
                        <td>¥<%= book.amount %></td>
                        <td>
                          <%= link_to book_path(book), remote: true do %>
                          <i class="fas fa-search-plus"></i>
                          <% end %>
                          <div id="book-show-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                        </td>
                      </tr>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card border-success">
            <div class="card-header bg-success text-white">
              貯蓄・投資
            </div>
            <div class="card-body py-2">
              <%= pie_chart @investment.joins(:sub_category).group("sub_categories.name").sum(:amount), height: "30vh" %>
              <div class="book-card card mt-2 border-0">
                <div class="book-card-body card-body p-0">
                  <table class="table table-sm">
                    <thead>
                      <tr class="small">
                        <th>日付</th>
                        <th>カテゴリ</th>
                        <th>金額</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @books.each do |book| %>
                      <% if book.main_category_id == 4 %>
                      <tr class="small">
                        <td><%= book.date.strftime('%m/%d') %></td>
                        <td><%= book.sub_category.name %></td>
                        <td>¥<%= book.amount %></td>
                        <td>
                          <%= link_to book_path(book), remote: true do %>
                          <i class="fas fa-search-plus"></i>
                          <% end %>
                          <div id="book-show-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                        </td>
                      </tr>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
