<div class="container-fluid">
  <div class="row">
    <div class="book_sidebar col-sm-2">
      <h2 class="text-center">収支管理</h2>
      <h5 class="text-center"><%= Date.current.strftime('%Y年%m月%d日') %></h5>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-header">
              今月の収支（前月比較）
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-body">
                  <div class="card-deck">
                    <div class="card border-0">
                      <div class="card-body pt-0">
                        <h5 class="card-title text-center"><%= Time.current.prev_month.strftime('%m月') %></h5>
                        <h4 class="card-text text-center"><%= @prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount %></h4>
                      </div>
                    </div>
                    <p class="d-flex align-self-center">→</p>
                    <div class="card border-0">
                      <div class="card-body pt-0">
                        <h5 class="card-title text-center"><%= Time.current.strftime('%m月') %></h5>
                        <h4 class="card-text text-center"><%= @incomes_total_amount - @fixed_total_amount - @variable_total_amount %></h4>
                      </div>
                    </div>
                  </div>
                  <h5 class="text-center">増減</h5>
                  <h4 class="text-center"><%= (@incomes_total_amount - @fixed_total_amount - @variable_total_amount) - (@prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount) %></h4>
                </div>
              </div>
              <table class="table table-sm mt-4">
                <thead>
                  <tr>
                    <th></th>
                    <th><%= Time.current.prev_month.strftime('%m月') %></th>
                    <th><%= Time.current.strftime('%m月') %></th>
                    <th>増減</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>収入</th>
                    <td><%= @prev_incomes_total_amount %></td>
                    <td><%= @incomes_total_amount %></td>
                    <td><%= @incomes_total_amount - @prev_incomes_total_amount %></td>
                  </tr>
                  <tr>
                    <th>固定費支出</th>
                    <td><%= @prev_fixed_total_amount %></td>
                    <td><%= @fixed_total_amount %></td>
                    <td><%= @fixed_total_amount - @prev_fixed_total_amount %></td>
                  </tr>
                  <tr>
                    <th>変動費支出</th>
                    <td><%= @prev_variable_total_amount %></td>
                    <td><%= @variable_total_amount %></td>
                    <td><%= @variable_total_amount - @prev_variable_total_amount %></td>
                  </tr>
                  <tr>
                    <th>収支計</th>
                    <td><%= @prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount %></td>
                    <td><%= @incomes_total_amount - @fixed_total_amount - @variable_total_amount %></td>
                    <td><%= (@incomes_total_amount - @fixed_total_amount - @variable_total_amount) - (@prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-header">
              今月の支出計画
            </div>
            <div class="card-body">
              <div class="card-group">
                <div class="card border-0">
                  <div class="card-body pt-0 px-0">
                    <h6 class="card-title">今月の支出内訳</h6>
                    <%= column_chart @outcomes.joins(:main_category).group("main_categories.name").sum(:amount), height: "25vh" %>
                  </div>
                </div>
                <div class="card border-0">
                  <div class="card-body pt-0 px-0">
                    <h6 class="card-title">今月の支出計画内訳</h6>
                    <%= column_chart @outcomes_plans.joins(:main_category).group("main_categories.name").sum(:amount), height: "25vh" %>
                  </div>
                </div>
              </div>
              <table class="table table-sm mt-2">
                <thead>
                  <tr>
                    <th></th>
                    <th>支出</th>
                    <th>予算</th>
                    <th>予算残額</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>固定費</th>
                    <td><%= @fixed_total_amount %></td>
                    <td><%= @fixed_plans_total_amount %></td>
                    <td><%= @fixed_plans_total_amount - @fixed_total_amount %></td>
                  </tr>
                  <tr>
                    <th>変動費</th>
                    <td><%= @variable_total_amount %></td>
                    <td><%= @variable_plans_total_amount %></td>
                    <td><%= @variable_plans_total_amount - @variable_total_amount %></td>
                  </tr>
                  <tr>
                    <th>合計</th>
                    <td><%= @fixed_total_amount + @variable_total_amount %></td>
                    <td><%= @fixed_plans_total_amount + @variable_plans_total_amount %></td>
                    <td><%= (@fixed_plans_total_amount - @fixed_total_amount) + (@variable_plans_total_amount - @variable_total_amount) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-header">
              今月の貯蓄・投資計画
            </div>
            <div class="card-body">
              <table class="table table-sm">
                <tr>
                  <th>目標額</th>
                  <td><%= @investment_plans_total_amount %></td>
                </tr>
                <tr>
                  <th>貯蓄・投資額</th>
                  <td><%= @investment_total_amount %></td>
                </tr>
                <tr>
                  <th>目標達成率</th>
                  <td><%= number_to_percentage(@investment_per * 100) %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-header">
              欲しいものリスト
            </div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>