<div class="container-fluid">
  <div class="row">
    <div class="book_sidebar col-sm-2 mt-2">
      <h3><i class="far fa-chart-bar"></i> 収支管理</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <nav class="nav d-flex flex-column">
        <%= link_to books_mypage_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="far fa-chart-bar"></i> 収支管理
        <% end %>
        <%= link_to books_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calculator"></i> 家計簿
        <% end %>
        <%= link_to budget_plans_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-file-alt"></i> 収支計画
        <% end %>
        <%= link_to lists_path, class: "side-menu nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-shopping-cart"></i> Wishリスト
        <% end %>
      </nav>
      <div class="card">
        <div class="card-header">
          現在までの収支内訳
        </div>
        <div class="card-body">
          <h6 class="text-center">総収入</h6>
          <h5 class="text-center">¥<%= @totalincomes_total_amount %></h5>
          <h6 class="text-center">総支出</h6>
          <h5 class="text-center">¥<%= @totalfixed_total_amount + @totalvariable_total_amount %></h5>
          <h6 class="text-center">総貯蓄・投資</h6>
          <h5 class="text-center">¥<%= @totalinvestment_total_amount %></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 mt-2">
          <div class="card">
            <div class="card-header">
              今月の収支（前月比較）
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-body">
                  <div class="card-deck">
                    <div class="card border-0">
                      <div class="card-body pt-0">
                        <h5 class="card-title text-center"><%= Time.current.prev_month.strftime('%m月') %></h5>
                        <h4 class="card-text text-center"><%= @prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount %></h4>
                      </div>
                    </div>
                    <p class="d-flex align-self-center">→</p>
                    <div class="card border-0">
                      <div class="card-body pt-0">
                        <h5 class="card-title text-center"><%= Time.current.strftime('%m月') %></h5>
                        <h4 class="card-text text-center"><%= @incomes_total_amount - @fixed_total_amount - @variable_total_amount %></h4>
                      </div>
                    </div>
                  </div>
                  <h5 class="text-center">増減</h5>
                  <h4 class="text-center"><%= (@incomes_total_amount - @fixed_total_amount - @variable_total_amount) - (@prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount) %></h4>
                </div>
              </div>
              <table class="table table-sm mt-4">
                <thead>
                  <tr>
                    <th></th>
                    <th><%= Time.current.prev_month.strftime('%m月') %></th>
                    <th><%= Time.current.strftime('%m月') %></th>
                    <th>増減</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>収入</th>
                    <td><%= @prev_incomes_total_amount %></td>
                    <td><%= @incomes_total_amount %></td>
                    <td><%= @incomes_total_amount - @prev_incomes_total_amount %></td>
                  </tr>
                  <tr>
                    <th>固定費支出</th>
                    <td><%= @prev_fixed_total_amount %></td>
                    <td><%= @fixed_total_amount %></td>
                    <td><%= @fixed_total_amount - @prev_fixed_total_amount %></td>
                  </tr>
                  <tr>
                    <th>変動費支出</th>
                    <td><%= @prev_variable_total_amount %></td>
                    <td><%= @variable_total_amount %></td>
                    <td><%= @variable_total_amount - @prev_variable_total_amount %></td>
                  </tr>
                  <tr>
                    <th>収支計</th>
                    <td><%= @prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount %></td>
                    <td><%= @incomes_total_amount - @fixed_total_amount - @variable_total_amount %></td>
                    <td><%= (@incomes_total_amount - @fixed_total_amount - @variable_total_amount) - (@prev_incomes_total_amount - @prev_fixed_total_amount - @prev_variable_total_amount) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-2">
          <div class="card">
            <div class="card-header">
              今月の支出計画
            </div>
            <div class="card-body">
              <div class="card-group">
                <div class="card border-0">
                  <div class="card-body pt-0 px-0">
                    <h6 class="card-title">支出内訳</h6>
                    <%= column_chart @not_incomes.joins(:main_category).group("main_categories.name").sum(:amount), height: "25vh" %>
                  </div>
                </div>
                <div class="card border-0">
                  <div class="card-body pt-0 px-0">
                    <h6 class="card-title">計画内訳</h6>
                    <%= column_chart @not_incomes_plans.joins(:main_category).group("main_categories.name").sum(:amount), height: "25vh" %>
                  </div>
                </div>
              </div>
              <table class="table table-sm mt-2">
                <thead>
                  <tr>
                    <th></th>
                    <th>支出</th>
                    <th>予算</th>
                    <th>残額（使用率）</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>固定費</th>
                    <td>¥<%= @fixed_total_amount %></td>
                    <td>¥<%= @fixed_plans_total_amount %></td>
                    <td>¥<%= @fixed_plans_total_amount - @fixed_total_amount %> (<%= number_to_percentage(@fixed_per * 100) %>)</td>
                  </tr>
                  <tr>
                    <th>変動費</th>
                    <td>¥<%= @variable_total_amount %></td>
                    <td>¥<%= @variable_plans_total_amount %></td>
                    <td>¥<%= @variable_plans_total_amount - @variable_total_amount %> (<%= number_to_percentage(@variable_per * 100) %>)</td>
                  </tr>
                  <tr>
                    <th>合計</th>
                    <td>¥<%= @outcomes_total_amount %></td>
                    <td>¥<%= @outcomes_plans_total_amount %></td>
                    <td>¥<%= @outcomes_plans_total_amount - @outcomes_total_amount %> (<%= number_to_percentage(@outcomes_per * 100) %>)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-2">
          <div class="card">
            <div class="card-header">
              今月の貯蓄・投資計画
            </div>
            <div class="card-body">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">目標額</h5>
                    <h4 class="card-text">¥<%= @investment_plans_total_amount %></h4>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">達成額</h5>
                    <h4 class="card-text">¥<%= @investment_total_amount %></h4>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">達成率</h5>
                    <h4 class="card-text"><%= number_to_percentage(@investment_per * 100) %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 mt-2">
          <div class="card">
            <div class="card-header">
              Wishリスト
            </div>
            <div class="card-body">
              <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">未購入合計</h5>
                    <h4 class="card-text">¥<%= @not_purchased_lists_total_price %><small>（<%= @not_purchased_lists.count %>件）</small></h4>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">購入済合計</h5>
                    <h4 class="card-text">¥<%= @purchased_lists_total_price %><small>（<%= @purchased_lists.count %>件）</small></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>