<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1 class="text-center">家計簿詳細</h1>
    </div>
    <div class="col-sm-6 offset-sm-3">
      <ul class="list-group">
        <label>Category</label>
        <li class="list-group-item"><%= @book.main_category.name %></li>
        <label>SubCategory</label>
        <li class="list-group-item"><%= @book.sub_category.name %></li>
        <label>Body</label>
        <li class="list-group-item"><%= @book.introduction %></li>
        <label>date</label>
        <li class="list-group-item"><%= @book.date %></li>
      </ul>
    </div>
    <div class="col-sm-2 offset-sm-3 mt-4">
      <%= link_to books_path do %>
      <button type="button" class="btn btn-primary">一覧へ</button>
      <% end %>
    </div>
    <div class="col-sm-2 mt-4">
      <%= link_to edit_book_path(@book) do %>
      <button type="button" class="btn btn-success">編集する</button>
      <% end %>
    </div>
    <div class="col-sm-2 mt-4">
      <%= link_to book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button type="button" class="btn btn-danger">削除する</button>
      <% end %>
    </div>
  </div>
</div>

