<%= form_with(model: plan, local: true) do |form| %>

    <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :allday %>
    <%= form.check_box :allday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
