<div class="modal-dialog">
  <div class="modal-content">
    
  <%= form_with(model: @plan, remote: true) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :allday %>
    <%= f.check_box :allday %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  </div>
</div>
