<div class="container-fluid">
  <div class="row">
    <div class="plan-sidebar col-sm-2">
      <h2 class="text-center">スケジュール</h2>
      <h5 class="text-center"><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= link_to 'New Plan', new_plan_path, remote: true, class: "btn btn-block btn-primary" %>
      <div id="plan-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div id="editplan-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div class="card">
        <div class="card-header">
          未達成のTodoリスト（優先度：高）
        </div>
        <div class="card-body">
          <div class="list-group">
            <% @tasks.each do |task| %>
              <% if task.fin == false and task.importance == "高い" %>
                <%= link_to task_path(task), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
                <div>
                  <label class="small"><%= task.title %></label>
                  <label class="small">期限：<%= task.deadline.strftime("%m/%d %H:%M") %></label>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <nav class="nav d-flex flex-column">
        <%= link_to "スケジュール", plans_path, class: "nav-link d-flex justify-content-center border-top p-2 active", data: { "turbolinks": false } %>
        <%= link_to "Todoリスト", tasks_path, class: "nav-link d-flex justify-content-center border-top p-2", data: { "turbolinks": false } %>
      </nav>
    </div>
    <div class="col-sm-10">
      <div id="calendar"></div>
    </div>
  </div>
</div>


