<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @plan.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @plan.end_date %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @plan.allday %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
