<div class='fixed-top'>
 <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag('img/logo1.001.png', size: '40x40') %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
     <li>
       <%= link_to about_path do %>
       <button type="button" class="btn top-nav1 m-2">About</button>
       <% end %>
     </li>
     <li>
       <%= link_to new_user_registration_path do %>
       <button type="button" class="btn top-nav2 m-2">
        <i class="fas fa-user-plus"></i> 新規登録</button>
       <% end %>
     </li>
     <li>
       <%= link_to new_user_session_path do %>
       <button type="button" class="btn top-nav3 m-2">
        <i class="fas fa-sign-in-alt"></i> ログイン</button>
       <% end %>
     </li>
    </ul>
   </div>
 </nav>
</div>