<nav class="navbar navbar-expand-lg navbar-light bg-w">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag('img/tm_logo1.001.png', size: '60x60') %>
    <% end %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto">
      <li>
        <%= link_to about_path do %>
        <button type="button" class="btn btn-outline-secondary m-2">About</button>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-outline-secondary m-2">新規登録</button>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-outline-secondary m-2">ログイン</button>
        <% end %>
      </li>
     </ul>
    </div>
  </div>
</nav>