<div class='fixed-top'>
  <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-white">
   <%= link_to mypage_users_path, class: "navbar-brand" do %>
   <%= image_tag('img/logo1.001.png', size: '40x40') %>
   <% end %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <button class="user-nav2 btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-clock"></i> Time
        </button>
      　<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to plans_path, class: "userheader-item2 dropdown-item", data: { "turbolinks": false } do %>
          <i class="fas fa-calendar-alt"></i> スケジュール
          <% end %>
          <%= link_to tasks_path, class: "userheader-item2 dropdown-item", data: { "turbolinks": false } do %>
          <i class="fas fa-tasks"></i> Todoリスト
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <button class="user-nav3 btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-coins"></i> Money
        </button>
      　<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to books_mypage_path, class: "userheader-item3 dropdown-item", data: { "turbolinks": false } do %>
          <i class="far fa-chart-bar"></i> 収支管理
          <% end %>
          <%= link_to books_path, class: "userheader-item3 dropdown-item", data: { "turbolinks": false } do %>
          <i class="fas fa-calculator"></i> 家計簿
          <% end %>
          <%= link_to budget_plans_path, class: "userheader-item3 dropdown-item", data: { "turbolinks": false } do %>
          <i class="fas fa-file-alt"></i> 収支計画
          <% end %>
          <%= link_to lists_path, class: "userheader-item3 dropdown-item" do %>
          <i class="fas fa-shopping-cart"></i> Wishリスト
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <button class="user-nav1 btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= attachment_image_tag user, :image, fallback: "img/no_image.jpg", size: '25x25', class: "d-inline-block align-top rounded" %>
          <%= current_user.name %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to mypage_users_path, class: "userheader-item1 dropdown-item" do %>
          <i class="far fa-user-circle"></i> My Page
          <% end %>
          <%= link_to users_path, class: "userheader-item1 dropdown-item" do %>
          <i class="fas fa-id-card"></i> ユーザー詳細
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "userheader-item1 dropdown-item" do %>
          <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </div>
      </li>
     </ul>
    </div>
  </nav>
</div>