<!DOCTYPE html>
<html>
  <head>
    <title>Time and Money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link href='lib/main.css' rel='stylesheet' />-->
    <!--<script src='lib/main.js'></script>-->

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="border">
      <% if user_signed_in? %>
       <%= render 'layouts/userheader' %>
      <% else %>
       <%= render 'layouts/header' %>
      <% end %>
    </header>
    <main>
       <%= yield %>
    </main>
  </body>

</html>
