<!DOCTYPE html>
<html>
  <head>
    <title>Time and Money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link href='lib/main.css' rel='stylesheet' />-->
    <!--<script src='lib/main.js'></script>-->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      if (calendarEl !== null) {
         var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'ja',
        navLinks: true,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        businessHours: {
          daysOfWeek: [ 1, 2, 3, 4, 5 ],
          startTime: '00:00',
          endTime: '24:00'
        },
        editable: true,
        selectable: true,
        eventClick: function(info){

          $.ajax({
            url: "/plans/" + info.event.id +"/edit.js",
            type: "GET",
          })
            .done(function (data, textStatus, jqXHR) {
            })
            .fail(function() {
            });
          },
        eventDrop: function(info) {

          $.ajax({
            url: "/plans/" + info.event.id,
            type: "PATCH",
            data: {
              plan: {
                title: info.event.title,
                start_date: info.event.start,
                end_date: info.event.end
              }
            }
          })
            .done(function (data, textStatus, jqXHR) {
            })
            .fail(function() {
            });
          },
        // },

        eventSources: [
          {
            url: '/plans.json', // use the `url` property
            color: '#007bff',    // an option!
            textColor: 'white'  // an option!
          },
          {
            url: '/tasks.json',
            color: 'yellow',
            textColor: 'black'
          }
        ]
      });

      calendar.render();
      }

    });
    // function reloadcalendar()
    // { var calendarEl = document.getElementById('calendar');
    //   var calendar = new FullCalendar.Calendar(calendarEl, {
    //     initialView: 'dayGridMonth',
    //     headerToolbar: {
    //       left: 'prev,next today',
    //       center: 'title',
    //       right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
    //     },
    //     locale: 'ja',
    //     navLinks: true,
    //     businessHours: true,
    //     editable: true,
    //     selectable: true,


    //     events: '/plans.json'
    //   });
    //   calendar.render();}
  </script>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="border">
      <% if user_signed_in? %>
       <%= render 'layouts/userheader' %>
      <% else %>
       <%= render 'layouts/header' %>
      <% end %>
    </header>
    <main>
     <%= yield %>
    </main>
  </body>

</html>
