<!DOCTYPE html>
<html>
  <head>
    <title>Time and Money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link href='lib/main.css' rel='stylesheet' />-->
    <!--<script src='lib/main.js'></script>-->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="border">
      <% if user_signed_in? %>
       <%= render 'layouts/userheader' %>
      <% else %>
       <%= render 'layouts/header' %>
      <% end %>
    </header>
    <main>
       <%= yield %>
    </main>
  </body>
  <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        console.log("calendarEl")
        console.log(calendarEl !== null)
        console.log("calendarEl")
        if (calendarEl !== null) {
           var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          locale: 'ja',
          navLinks: true,
          businessHours: true,
          editable: true,
          selectable: true,

          events: '/plans.json'
        });
        console.log("calendar")
        console.log(calendar)
        console.log("calendar")
        calendar.render();
        }

      });
      function reloadcalendar()
      { var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          locale: 'ja',
          navLinks: true,
          businessHours: true,
          editable: true,
          selectable: true,

          events: '/plans.json'
        });
        calendar.render();}
    </script>
</html>
