<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 my-4">
    	<div class="card">
    		<div class="card-header">
    			新規会員登録
    		</div>
    		<div class="card-body">
    			<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group field">
          	<%= f.label :name, "ユーザー名", class: "form-control-label" %>
          	<%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "aaa" %>
          </div>
          <div class="form-group field">
          	<%= f.label :email, "メールアドレス", class: "form-control-label" %>
          	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
          </div>
          <div class="form-group field">
          	<%= f.label :area, "地域", class: "form-control-label" %>
          	<%= f.select :area, User.areas.keys, {prompt: "選択してください"}, class: "form-control" %>
          </div>
          <div class="form-group field">
          	<%= f.label :job, "職業", class: "form-control-label" %>
          	<%= f.select :job, User.jobs.keys, {prompt: "選択してください"}, class: "form-control" %>
          </div>
          <div class="form-group field">
          	<%= f.label :password, "パスワード", class: "form-control-label" %>
          	<%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "6文字以上" %>
          </div>
          <div class="form-group field">
          	<%= f.label :password_confirmation, "パスワード（確認用）", class: "form-control-label" %>
          	<%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "6文字以上" %>
          </div>
          <div class="action">
          	<%= f.submit '新規登録', class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
    		</div>
    	</div>
    </div>
  </div>
  <div class="row">
		<div class="col-sm-10 offset-sm-1 my-4">
      <h4 class="text-center">既に登録済みの方</h4>
    </div>
    <div class="col-sm-4 offset-sm-4">
      <p class="text-center">
        <%= link_to "こちら", new_user_session_path %> からログインしてください。
      </p>
    </div>
	</div>
</div>
